RewriteEngine On
RewriteBase /CRUD%20Alojamientos/

# Permitir acceso directo a archivos y directorios existentes en public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Redirigir todas las demás solicitudes a public/index.php
RewriteRule ^ public/index.php [L,QSA]